body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.firstsection {
    display: flex;
    background: url(../images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.document h1 {
    font-size: 50px;
}

.document h1 span {
    color: orange;
}

.document {
    width: 50%;
    padding-left: 5%;
}

.document img {
    width: 70%;
}

.hire_me {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.dreambig {
    display: flex;
    background: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}

.experience {
    background: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience h1 {
    font-size: 50px;
}

.expecard {
    display: flex;
    margin-bottom: 60px;
}

.orange {
    color: orange;
}

.experience_item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 7px 40px grey;
    padding-left: 20px;
    border-radius: 10px;
}

.experience_item h1 {
    font-size: 40px;
}

#Full_stack_web_developer {
    border-left: 7px solid tomato;
}

#Baby_web_developer {
    border-left: 7px solid blue;
}

footer {
    color: rgb(100, 100, 100);
    text-align: center;
    margin-bottom: 20px;
}